@import "tailwindcss";

@theme {
  --font-head1: "Oswald", sans-serif;
  --font-head2: "Odibee Sans", sans-serif;
  --font-body: "Roboto", sans-serif;
  --font-text: "Nunito", sans-serif;
  --font-jap: "WDXL Lubrifont JP N", sans-serif;
  --font-cursive: "Dancing Script", cursive;
  --font-chatContent: "EB Garamond", serif;
}
